{% extends "base.html.twig" %}

{% block body %}
       
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Los pelusos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path("login")}}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="dropdown navbar-pull-right">
               
                <ul class="dropdown-menu">
                {% if is_granted('ROLE_ADMIN') %}           
                <li>
                    <a href="{{path("admin_user")}}">Admin users</a>
                </li>
                 <li >
                    <a href="{{path("admin_post")}}">Admin posts</a>
                </li>
                {% endif %}
                  <li><a href="#">Edit user</a></li>
                
                  <li><a href="{{path("logout")}}">Logout</a></li>
                </ul>
              </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="{{path("login")}}">Iniciar sesión</a>
          <a class="nav-link" href="{{path("register")}}">Registrarse</a>
          <button href="{{path("login")}}">Search</button>
        </form>
      </div>
    </nav>
   
 
        {% endblock %}